* {margin: 0; padding: 0; vertical-align: top; }
li {list-style: none;}
a {text-decoration: none;}
img {border: 0; max-width: 100%;}
body {font-family: "Noto Sans KR", sans-serif; 
    max-width: 1920px; min-width: 320px; margin: 0 auto; }

li label {
    width: 520px; font-size: 16px; font-weight: bold;
    line-height: 25px; display: inline-block;
}