/*header*/
header { 
    width: 100%; background: #101010; 
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 32px; align-items: flex-start; 
    border-bottom: 1px solid #fff; padding: 32px 84px 24px 84px; box-sizing: border-box; } 

.top_box { width: 100%; height: 24px; display: flex; flex-wrap: wrap; justify-content: space-between; } 

.top_gnb ul { display: flex; flex-wrap: wrap; gap: 30px; } 
.top_gnb ul li a { display: block; width: 20px; height: 20px; line-height: 20px; } 

.btm_gnb { width: 91%; height: 24px; line-height: 24px; } 
.btm_gnb ul { display: flex; flex-wrap: wrap; gap: 32px; } 
.btm_gnb ul li a { display: block; height: 24px; line-height: 24px; text-align: center;  color: #FAF9F6; transition: .3s; 
    font-family: pretendard, sans-serif; font-size: 18px; font-weight: 500; letter-spacing: -1px}

.btm_gnb ul li a:hover { color:#3A4D6B } 
/*header*/

/*main_banner*/
.sub_main_banner {width: 100%; height: 900px;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 314px;
    background: url(../images/sub_main_img.jpg) no-repeat 50% 50% / cover;
    padding: 0 0 32px 0; justify-content: flex-end; box-sizing: border-box;
    align-items: center; }
.sub_main_title_box { width: 100%;
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 72px; align-items: center; justify-content: flex-start; color: #FAF9F6;}
.sub_main_mouse { width: 55PX; height: 55PX;
    background: url(../images/sub_main_mouse.png) no-repeat 50% 50% / cover;}
/*main_banner*/

/*legacy*/
.legacy {width: 100%; height: auto;
    display: flex; flex-wrap: wrap; flex-direction: column;
    background: #FAF9F6; }
.legacy_title_box {width: 100%;
    display: flex; padding: 200px 0 80px 84px; }
.sub_legacy_img_back {width: 100%; height: 920px;
    background: url(../images/sub_legacy_img_back.jpg) no-repeat 50% 50% / cover; position: relative; }
.legacy_article_box { width: 100%;
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 24px; padding: 40px 0 120px 640px;}
.sub_legacy_img_sign {width: 440px; height: 107px;
    background: url(../images/sub_legacy_img_sign.png) no-repeat 50% 50% / cover;}
.sub_legacy_img_1 {width: 480px; height: 640px;
    background: url(../images/sub_legacy_img_1.jpg) no-repeat 50% 50% / cover;
    position: absolute; top: -200px; right: 84px; }
.sub_legacy_img_2 {width: 480px; height: 640px;
    background: url(../images/sub_legacy_img_2.jpg) no-repeat 50% 50% / cover;
    position: absolute; bottom: -300px; left: 84px;}

.legacy_contents {width: 100%;
    display: flex;
    gap: 32px; padding: 80px 84px; box-sizing: border-box;}
.legacy_contents_box_1 {width: 414px; height: 400px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    background: url(../images/sub_legacy_contents_img_1.jpg) no-repeat 50% 50% / cover;
    gap: 120px; padding: 56px 0 0 56px; color: #FAF9F6;
    align-items: flex-start; box-sizing: border-box;}
.legacy_contents_box_2 {width: 414px; height: 400px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    background: url(../images/sub_legacy_contents_img_2.jpg) no-repeat 50% 50% / cover;
    gap: 120px; padding: 56px 0 0 56px; color: #FAF9F6;
    align-items: flex-start; box-sizing: border-box;}
.legacy_contents_box_3 {width: 414px; height: 400px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    background: url(../images/sub_legacy_contents_img_3.jpg) no-repeat 50% 50% / cover;
    gap: 120px; padding: 56px 0 0 56px; color: #FAF9F6;
    align-items: flex-start; box-sizing: border-box;}
.legacy_contents_box_4 {width: 414px; height: 400px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    background: url(../images/sub_legacy_contents_img_4.jpg) no-repeat 50% 50% / cover;
    gap: 120px; padding: 56px 0 0 56px; color: #FAF9F6;
    align-items: flex-start; box-sizing: border-box;}
/*legacy*/

/*campaigns*/
.campaigns {width: 100%; height: auto;
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 100px; padding: 160px 0; box-sizing: border-box;
    background: #FAF9F6; align-items: center;}
.campaigns_contents {width: 1400px; height: 920px;
    display: flex; gap: 176px; box-sizing: border-box;
    justify-content: space-between;}

.campaigns_contents_left {width: 612px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    padding: 88px 0 0 0; gap: 40px; box-sizing: border-box;
    justify-content: flex-start;}
.campaigns_contents_left_box {width: 612px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    align-items: flex-start;}
.campaigns_contents_left_txt {
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 8px; padding: 20px 0 32px 0;}
.sub_campaigns_img_1 {width: 100%; height: 555px;
    background: url(../images/sub_campaigns_img_1.jpg) no-repeat 50% 50% / cover;}

.campaigns_contents_right {width: 612px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    padding: 0 0 88px 0; gap: 40px; box-sizing: border-box;
    justify-content: flex-start;}
.campaigns_contents_right_box {width: 612px;
    display: flex; flex-wrap: wrap; flex-direction: column;
    align-items: flex-start;}
.campaigns_contents_right_txt {
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 8px; padding: 20px 0 32px 0;}
.sub_campaigns_img_2 {width: 100%; height: 555px;
    background: url(../images/sub_campaigns_img_2.jpg) no-repeat 50% 50% / cover;}
/*campaigns*/

/*timeless*/
.timeless {width: 100%; height: 900px;
    background: url(../images/sub_timeless_img.jpg) no-repeat 50% 50% / cover;
    display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 100px; justify-content: center;
    align-items: center;color: #FAF9F6;}
.timeless_article {display: flex; flex-direction: column;
gap: 32px; align-items: center;}
.timeless_article .contents_article_xlarge {text-align: center;}
/*timeless*/

/*service*/
.service {width: 100%; height: auto; background: #FAF9F6;
    display: flex; padding: 200px 84px; box-sizing: border-box;
    justify-content: space-between;}
.service_contents {display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 104px;}
.service_contents_top {display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 56px;}
.service_contents_top_btn {display: flex; gap: 24px;}

.service_contents_btm {display: flex; flex-wrap: wrap; flex-direction: column;
    gap: 24px;}
.service_contents_btm_txt {display: flex; gap: 8px;}
.service_contents_btm_search {width: 278px; height: 56px;
    display: flex; justify-content: space-between;
    padding: 16px 32px; border: 1px solid #101010;
    box-sizing: border-box;}
.sub_service_img {width: 680px; height: 408px;
    background:url(../images/sub_service_img.jpg) no-repeat 50% 50% / cover;}
/*service*/

/*footer*/
footer {width: 100%; height: auto; box-sizing: border-box;
    background: #101010; display: flex; flex-wrap: wrap; flex-direction: column; padding: 120px 84px; }  
.footer_contents { display: flex; flex-wrap: wrap; justify-content: space-between;}
.footer_contents_left {width: 472px; height: 468px; box-sizing: border-box;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 40px;}
.footer_contents_left_up, .footer_contents_left_down {display: flex; flex-wrap: wrap; gap: 32px; box-sizing: border-box;}

.footer_menu {width: 220px; height: 214px; box-sizing: border-box;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 32px;}
.footer_menu .contents_article_small {color: #7c7c7c;}
.footer_menu_list { width: 220px; height: 137px; align-items: flex-start; }
.footer_menu_list ul {display: flex; flex-wrap: wrap; flex-direction: column; gap: 8px;}
.footer_menu_list ul li a {display: block; height: 21px; line-height: 21px; text-align: start;
    color: #FAF9F6; font-family: pretendard, sans-serif; 
    font-size: 16px; font-weight: 500; letter-spacing: -0.5px  }
.footer_menu_list ul li a:hover { color:#3A4D6B } 

.footer_contents_right {width: 550px; 
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px;}
.footer_contents_right .contents_article_medium {color: #FAF9F6;}
.footer_contents_right_article {width: 550px;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px; }
.footer_contents_right_article .contents_article_xsmall {color: #7c7c7c;}

.footer_contents_right_txtbox {display: flex; border-bottom: #FAF9F6 solid 1px; 
    justify-content: space-between; padding: 16px; color: #FAF9F6; box-sizing: border-box;}
.footer_contents_right_txtbox .contents_article_xsmall {color: #FAF9F6;}


.footer_logo { width: 100%; height: 520px;
     background: url(../images/footer_logo.png) no-repeat center; background-size: contain; }
/*footer*/

